Object.assign(App.prototype, {
  templatefooter(){
    return`
    <div class="container">
      <div class="row mt-4"> 
        <div class="col-md-3 text-center"> 
          <p class="d-none d-sm-block"><i class="fa fa-sm fa-copyright" aria-hidden="true"></i> BION</p> 
        </div> 
        <div class="col-md-3 text-center"> 
          <p class="d-none d-sm-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Filmgatan 1</p> 
        </div> 
        <div class="col-md-3 text-center"> 
          <p class="d-none d-sm-block"><i class="fa fa-envelope-o" aria-hidden="true">&nbsp;</i><a class="mail" href="#">info@filmvisarna.nu</a></p> 
        </div> 
        <div class="col-md-3 text-center"> 
          <p><i class="fa fa-sm fa-copyright social-media mr-1 d-sm-none" aria-hidden="true"></i><i class="fa fa-map-marker social-media d-sm-none mr-1" aria-hidden="true"></i><i class="fa fa-envelope-o social-media d-sm-none mr-1" aria-hidden="true"></i><a href="#""><i class="fa fa-facebook-official social-media mr-1 rounded" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter-square social-media mr-1" aria-hidden="true"></i></a><a href="#"><i class="fa fa-youtube-square social-media mr-1" aria-hidden="true"></i></a><a href="#"><i class="fa fa-instagram social-media" aria-hidden="true"></i></a></p> 
        </div> 
      </div> 
    </div>

    `;
  }

});
