Object.assign(Footer.prototype, {
  template(){
    return`
    <div class="row mt-4">
      <div class="col-md-3 text-center">
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> Adress: Brickvägen 4</p>
      </div>
      <div class="col-md-3 text-center">
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i> Email: <a class="text-white" href="mailto:4irad@groupa.nu">4irad@groupa.nu</a></p>
      </div>
      <div class="col-md-3 text-center">
        <p><i class="fa fa-phone" aria-hidden="true"></i> Telefon: 044-444 444</p>
      </div>
      <div class="col-md-3 text-center">
        <p><small><i class="fa fa-sm fa-copyright" aria-hidden="true"></i> A-TEAM</small></p>
      </div>
    </div>

    `;
  }

});
