Object.assign(Footer.prototype, {
  template(){
    return`
    <div class="container">
      <div class="row mt-4"> 
        <div class="col-md-3 text-center d-none d-lg-block"> 
          <p class=""><i class="fa fa-lg fa-copyright" aria-hidden="true"></i> BION</p> 
        </div> 
        <div class="col-md-3 text-center d-none d-lg-block"> 
          <p class=""><i class="fa fa-map-marker" aria-hidden="true"></i> Filmgatan 1</p> 
        </div> 
        <div class="col-md-3 text-center d-none d-lg-block"> 
          <p class=""><i class="fas fa-envelope" aria-hidden="true">&nbsp;</i><a class="mail" href="#">info@filmvisarna.nu</a></p> 
        </div> 
        <div class="col-lg-3 text-center"> 
          <p class="d-inline-flex">
            <i class="fa fa-lg fa-copyright social-media mr-1 d-lg-none" aria-hidden="true"></i>
            <i class="fa fa-map-marker social-media d-lg-none mr-1" aria-hidden="true"></i>
            <i class="fas fa-envelope social-media d-lg-none mr-1" aria-hidden="true"></i>
            <a href="#"><i class="fab fa-facebook-square fa-2x social-media mr-1 rounded" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-twitter-square fa-2x social-media mr-1" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-youtube-square fa-2x social-media mr-1" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x social-media" aria-hidden="true"></i></a></p> 
        </div> 
      </div> 
    </div>

    `;
  }

});
