Object.assign(Godis.prototype, { template(){ return `
<div class="godis container">
    <img class="kiosk" src="/imgs/kiosk.jpg" alt="kiosk">
    <div class="text">
        <h1>Från kiosk till butik</h1>
        <p>För två år sedan öppnade vi den första snacksbutiken på vår biograf i Lund. I november förra året kom den andra i
            Mall of Scandinavia. </p>
        <p>
            Konceptet innebär att du som kund inte behöver köpa dina varor över en disk längre utan går in i en butik för att göra dina
            inköp. Det betyder att du som biobesökare själv kan gå runt bland värmeskåp med popcorn, snacks, godishyllor
            och drickakylar. Plocka själv de varor som du vill ha med dig in i salongen när du ska se på bio. Dessutom har
            vi i butiken ett bredare sortiment än vi har i kioskerna.
        </p>

    </div>

</div>


`;}});
