Object.assign(Nav.prototype, { templatekiosk(){ return `
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h3 class="pageTitle py-1 mt-3">Kiosk</h3>
        </div>
    </div>
</div>
<div class="godis container">
    <div class="row godis">
        <div class="col-12 text mt-4">
            <h5>Från kiosk till butik</h5>
            <p class="font-weight-light text-muted">För två år sedan öppnade vi den första snacksbutiken på vår biograf i Lund. I november förra året kom den
            andra i Mall of Scandinavia. </p>
            <p class="font-weight-light text-muted">
                Konceptet innebär att du som kund inte behöver köpa dina varor över en disk längre utan går in i en butik för att göra dina
                inköp. Det betyder att du som biobesökare själv kan gå runt bland värmeskåp med popcorn, snacks, godishyllor
                och drickakylar. Plocka själv de varor som du vill ha med dig in i salongen när du ska se på bio. Dessutom
                har vi i butiken ett bredare sortiment än vi har i kioskerna.
            </p>
            <div class="text-center">
                <img class="img-fluid kiosk mt-4 w-75" src="/imgs/kiosk.jpg" alt="kiosk">
            </div>
        </div>
    </div>
</div>
`;}});