Object.assign(MainPage.prototype, { template1(){ return `

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0">
          <div class="adv m-0">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner banner">
                
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <!--<img class="mainbanner" src="/imgs/letthesunshinein_banner.jpg" alt="Star Wars Last Jedi">-->
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <h3>Idag</h3>
          <div id="viewingsList" class="list-group list-group-flush">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-container-booking"></div>
    <div class="modal-container-info"></div>
    <div class="modal-container-login"></div>
    <div class="modal-container-signup"></div>
    `;}});
