Object.assign(MainPage.prototype, { template(){ return `
    <div class="row">
      <div class="col-12">
        <img class="mainbanner" src="/imgs/lastjedi_banner.jpg" alt="Star Wars Last Jedi">
      </div>
    </div>
    <div class="container mt-5">
      <div class="col-12">
        <h3>Idag</h3>
        <div class="list-group list-group-flush">
          <div href="#" class="list-group-item list-group-item-action">
            <div class="d-flex flex-row align-items-center">
              <div class="list-element col-3">
                <h4>Hour</h4>
              </div>
              <div class="list-element col-3">
                <h4>Movie Title</h4>
                <p class="text-muted">Tags and info</p>
              </div>
              <div class="list-element col-3">
                <p>Salong 1</p>
              </div>
              <div class="list-element col-3">
                <a class="pop btn btn-base float-right mx-lg-2 my-1" id="bookingModalToggle">Biljetter</a>
                <a class="pop btn btn-base float-right mx-lg-2 my-1" id="infoModalToggle">Läs mer</a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="modal-container-booking">

    </div>
    <div class="modal-container-info">

    </div>
    `;}});
