Object.assign(MainPage.prototype, { template1(){ return `

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 p-0">
          <div class="gallery">
            
            
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <h3 class="pageTitle py-1">Idag</h3>
          <div id="viewingsList" class="list-group list-group-flush">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-container-booking"></div>
    <div class="modal-container-info"></div>
    <div class="modal-container-login"></div>
    <div class="modal-container-signup"></div>
    `;}});
