Object.assign(Modal.prototype, {template1(){
  return `
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/p_HnASrsULM?rel=0&amp;showinfo=0"></iframe>
          </div>
        </div>
        <div class="modal-body">
          <img src="/imgs/modalBild.jpg" class="float-left" alt="hund">
          <h2>Scarface; Number ONe</h2>
          <p>Lorem ipsum används ofta som exempeltext inom trycksaksframställning och grafisk design för att visa hur till exempel
            ett dokument kommer att se ut när väl den riktiga texten är på plats. Lorem ipsum visar </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Boka</button>
        </div>
      </div>
    </div>
  </div>
  `;

}});
