Object.assign(Modal.prototype, {template3(){
  return `
<div class="container">
  <div class="modal fade" id="summaryModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-body text-white">
          <h3>Du har bokat: <b>${this.films[this.indexToOpen].title}</b></h3>
          <div class="title-text text-white">
            <p>${this.selectDate} i ${this.currentAuditorium}<p>
            <p>Stolnummer: ${this.selectedSeats}<p>
            <p>Antal biljetter: ${this.totalTickets}
            <p>Totalpris ${this.totalPrice} kr.<p>
            <p>Betalning sker i kassan, ange ditt bokningsnummer <b>${this.bookingNumber}</b>.
            <p>Du kan se dina bokningar under mina sidor.</p>
          </div>
          <h3>Tack för att du bokat film hos oss!</h3>
        </div>
      </div>
    </div>
  </div>
</div>

`; }});
