Object.assign(Profile.prototype, {templatesignup(){ return `
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="imgs/brand.svg" alt="" class="brand-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title text-center" id="signupLabel">Registrera ny användare</h5>
        <form class="mb-4" id="signupForm">
          <div class="form-group ">
            <label>Mailadress</label>
            <input type="text" class="form-control signUpEmail" placeholder="Ange mailadress" name="email" required>
          </div>
          <div class="form-group">
            <label>Lösenord</label>
            <input type="password" class="form-control signUpPass" placeholder="Ange lösenord" name="pass" required>
            <small class="passControl">Måste vara minst 6 tecken, innehålla minst en siffra en stor och en liten bokstav!</small>
          </div>
          <div class="form-group">
            <label>Repetera lösenord</label>
            <input type="password" class="form-control signUpRePass" placeholder="Repetera lösenord" name="repass" required>
            <small class="repassCheck d-none">Kontrollera lösenordet!</small>
          </div>
          <div class="form-group">
            <label>
              <small class="form-text text-muted">
                <input type="checkbox" class="tAndP"> Genom att skapa ett konto godkänner du vårt
                <a href="#" style="color:dodgerblue">Användaravtal</a>.</small>
              <small class="checkIt d-none text-error">Var vänlig och godkänn Användaravtalet!</small>
              </label>
          </div>
          <div class="clearfix">
            <button type="button" class="cancelbtn btn-base">Avbryt</button>
            <button type="button" class="signupbtn btn-base float-right">Registrera</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
`; }});