Object.assign(Modal.prototype, {template2(){
  return `
<div class="container">
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header p-0">
          <div class="embed-responsive embed-responsive-21by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/${this.films[this.indexToOpen].youtubeTrailers[0]}?rel=0&amp;showinfo=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        <div class="modal-body">
          <img src="/imgs/${this.films[this.indexToOpen].images[0]}" class="float-left w-25" alt="cmbyn-poster">
          <h2 class="title-text text-white text-center">
            ${this.films[this.indexToOpen].title}
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

`; }});
