Object.assign(Profile.prototype, {templatelogin(){ return `
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <img src="imgs/brand.svg" alt="" class="brand-modal">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5 class="modal-title text-center" id="loginLabel">Login</h5>
          <form class="mb-4" id="loginForm">
            <div class="form-group" >
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control lginEmail"  aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" >Password</label>
              <input type="password" class="form-control lgPass" id="exampleInputPassword1" placeholder="Password">
            </div>
          </form>
          <small class="loginFail text-danger d-none">Please check your email and password!</small>
          <small class="noUserName text-warning d-none">Please sign up!</small>
          <button class="btn btn-base float-right pop lgin" >Login</button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-link" id="opSignup">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
`; }});
