Object.assign(MyPage.prototype, {template1(){
    return`
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mt-5">Aktuella bokningar</h3>
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th scope="col">Datum</th>
                      <th scope="col">Titel</th>
                    </tr>
                  </thead>
                  <tbody class="activeBooking">
                  </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 class="mt-5">Historik</h3>
                <table class="table table-hover ">
                  <thead>
                    <tr>
                      <th scope="col">Datum</th>
                      <th scope="col">Titel</th>
                    </tr>
                  </thead>
                  <tbody class="pastBooking">
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    `;
}});
