Object.assign(Nav.prototype, {template(){ return`
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand pop" href="/">
    <img src="imgs/brand.svg" alt="" class="img-responsive brand">
  </a>
  <button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-100 d-flex">
      <li class="nav-item">
        <a class="nav-link pop" href="/filmer">Filmer
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link pop" href="/biograf">Biograf</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pop" href="/regler">Regler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pop" href="/kiosk">Kiosk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pop" href="/minasidor">mypage(test)</a>
      </li>
      <li class="nav-item ml-lg-auto " id="showLoginStatus">
      </li>
    </ul>
  </div>
</nav>

`; } });