Object.assign(Nav.prototype, {
  template(){
    return`
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand pop" href="/">Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto w-100 d-flex">
          <li class="nav-item">
            <a class="nav-link pop" href="/filmer">Filmer <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Om Oss
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item pop" href="/biograf">Biograf</a>
              <a class="dropdown-item pop" href="/regler">Regler</a>
              <a class="dropdown-item pop" href="/godis">Godis</a>
            </div>
          </li>
          <li class="nav-item ml-lg-auto">
            <a class="nav-link pop" href="/minasidor">Mina Sida</a>
          </li>
        </ul>
      </div>
    </nav>

    `;
  }

});
