Object.assign(Nav.prototype, { templateregler(){ return `
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h3 class="pageTitle py-1 mt-3">Regler</h3>
            </div>
        </div>
    </div>
    <div class="regler container">
        <div class="row regler">
            <div class="col-12 text mt-4">
                <h5>Köp & boka</h5>
                <p class="font-weight-light text-muted">
                    Biljettköp och -bokning till Kino når du även genom att klicka på visningstiden i kalendariet. Bokningen öppnas i nytt fönster
                    och du kan själv välja plats i salongen. Du kan också boka via telefon på 046-30 30 80. Observera att du inte kan tala
                    in bokningar på telefonsvararen. Biografen är bemannad från 45 minuter före första föreställning till och med 15 minuter
                    efter sista föreställningens början, och vi svarar i mån av tid. På Kino kan du betala med kort, kontanter och våra egna
                    presentkort.
                </p>
    
                <h5 class="mt-5">Kassan</h5>
                <p class="font-weight-light text-muted">Kassan öppnar 30 minuter före första föreställning. Biljetterna är vanligtvis numrerade. Bokade biljetter måste hämtas senast
                    30 minuter före föreställningen. För Operaföreställningar och andra livesändningar gäller andra uthämtningstider.
                </p>
                <h5 class="mt-5">Presentkort</h5>
                <p class="font-weight-light text-muted">Ge bort en bioupplevelse till någon du bryr dig om! Ett presentkort på bio passar för alla tillfällen och är alltid lika
                    uppskattat! Du laddar kortet med pengar som sedan kan användas till biobiljetter, popcorn, godis och mycket mer hos SF
                    Bio, Svenska Bio och Cinemascenen. Leverans inom 2 dagar.
                </p>
            </div>
      </div>
      <div class="modal-container-login"></div>
      <div class="modal-container-signup"></div>
    </div>
`;}});
