Object.assign(Regler.prototype, { template(){ return `
    <div class="regler container">
      <h1> Köp & boka</h1>
      <p>
          Biljettköp och -bokning till Kino når du även genom att klicka på visningstiden i kalendariet. Bokningen öppnas i nytt fönster
          och du kan själv välja plats i salongen. Du kan också boka via telefon på 046-30 30 80. Observera att du inte kan tala
          in bokningar på telefonsvararen. Biografen är bemannad från 45 minuter före första föreställning till och med 15 minuter
          efter sista föreställningens början, och vi svarar i mån av tid. På Kino kan du betala med kort, kontanter och våra egna
          presentkort.
      </p>

      <h1>Kassan</h1>
      <p>Kassan öppnar 30 minuter före första föreställning. Biljetterna är vanligtvis numrerade. Bokade biljetter måste hämtas senast
          30 minuter före föreställningen. För Operaföreställningar och andra livesändningar gäller andra uthämtningstider.</p>
      <h1>Presentkort</h1>
      <p>Ge bort en bioupplevelse till någon du bryr dig om! Ett presentkort på bio passar för alla tillfällen och är alltid lika
          uppskattat! Du laddar kortet med pengar som sedan kan användas till biobiljetter, popcorn, godis och mycket mer hos SF
          Bio, Svenska Bio och Cinemascenen. Leverans inom 2 dagar.</p>
    </div>
`;}});
