.biograf {
  margin-bottom: 60px;
}
.adv {
  margin-top: 10px;
  margin-bottom: 10px;
}
.kino {
  margin-left: 40px;
  margin-right: 10px;
}
.godis {
  margin-top: 10px;
}
.godis .kiosk {
  width: 80%;
}
.godis .text {
  margin-top: 20px;
  padding-bottom: 60px;
}
.regler {
  margin-top: 40px;
}
