.modal-footer {
  height: 200px;
}
#bookingModal {
  max-width: 1200px;
}
.modal img {
  max-width: 300px;
  min-width: 150px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 
     or slightly more for more space before footer
  */
  margin-bottom: 120px;
}
footer {
  position: fixed;
  left: 0;
  right: 0;
  background-color: yellow;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
}
footer a {
  color: black;
}
footer a :hover {
  color: black;
}
footer .social-media {
  font-size: 2.5em;
  color: grey;
}
@media screen and (min-width: 769px) and (max-width: 937px) {
  footer {
    height: 90px;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin-bottom: 200px;
  }
  footer {
    height: 185px;
  }
}
.biograf,
.regler,
.godis {
  margin-bottom: 120px;
}
.biograf h1,
.regler h1,
.godis h1 {
  font-size: 3rem;
}
.biograf h6,
.regler h6,
.godis h6 {
  font-size: 2rem;
}
.biograf p,
.regler p,
.godis p {
  font-size: 1.5rem;
}
.biograf h1,
.biograf h6 {
  font-family: 'IM Fell English SC', serif;
}
.biograf p {
  font-family: 'Harmattan', sans-serif;
}
.regler,
.godis {
  font-family: 'Harmattan', sans-serif;
}
.adv {
  margin-top: 10px;
  margin-bottom: 30px;
}
.kino {
  margin-bottom: 30px;
}
.godis {
  margin-top: 10px;
}
.godis .kiosk {
  width: 80%;
}
.godis .text {
  margin-top: 20px;
  padding-bottom: 60px;
}
.regler {
  margin-top: 40px;
}
@media screen and (min-width: 769px) and (max-width: 937px) {
  .biograf,
  .regler,
  .godis {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 768px) {
  .biograf,
  .regler,
  .godis {
    margin-bottom: 210px;
  }
}
.mainbanner {
  width: 100%;
}
.auditorium h1 {
  text-align: center;
}
.seats {
  background-color: #000;
  max-width: 600px;
  margin: 0 auto;
  padding: 2%;
}
.seat {
  cursor: pointer;
  padding: 0.7%;
  float: right;
}
.seat-inner {
  padding-bottom: 100%;
  background-color: #999;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}
.seat.hover .seat-inner {
  background-color: #eee;
}
.seat.chosen .seat-inner {
  background-color: #9adb99;
}
.seat.chosen.hover .seat-inner {
  background-color: #aaf2a9;
}
.seat.taken .seat-inner {
  background-color: #ba1a1a;
}
