//main: style.less
html {
    position: relative;
}

#board-holder {
    overflow: hidden;
    margin: 0 auto;
    #board {
        transform-origin: 0 0;
        svg {
            transform-origin: 0 0;
            g {
                image {
                    pointer-events: none;
                }
            }
        }
    }
}


svg {
    transform-origin: 50% 50% 0px;
}

.red {
    fill: red;

}