//main: style.less
html {
    position: relative;
}

#auditorium-holder {
    #auditorium {
        transform-origin: 0 0;
        svg {
            transform-origin: 0 0;
            g {
                .seat {
                    fill:#FCFBE3;
                    cursor:pointer;
                }
                .screen{
                    fill:white;
                }
                .booked {
                    fill: @main-red;
                    pointer-events:none;
                }
                .selected{
                    fill:@main-color;
                }
                .proposed{
                    fill:#343a40 + 100;
                }
            }
        }
    }
}
svg {
    transform-origin: 50% 50% 0px;
}