//main: style.less


.modal-content{
    background-color: #343A39;  
}

.modal-lg {
    p {
        color: white;
    }
    .close {
        color: @main-red;
        text-shadow: 0 1px 0 @main-dark+50;
        font-size: 2rem;
        cursor: pointer;
        &:focus {
            outline: -webkit-focus-ring-color auto 0;
            outline-color: inherit;
            outline-style: none;
            outline-width: 0;
        }
    }
    .review {
        p {
            font-size: 0.8em;
        }
        height:100%;
    }
    .text-main {
        color: @main-color  !important;
    }
    .smaller-text{
        font-size: 0.9rem;
    }
}

.checked {
    color: orange;
}



.orderModalStyle {
  color: #5CFDA5;  
}

.modal-header {
    border-bottom-color: #5CFDA5;
}

.modal-footer {
    border-top-color: #5CFDA5
}


.modalBokaColor {
    color: #5CFDA5 !important;

}

#adultTickets{
    font-size: 20px;
}
#childTickets{
    font-size: 20px;
}
#seniorTickets{
    font-size: 20px;
}

.fa-minus-circle:hover  {
    color: #FB515C;

}

.fa-plus-circle:hover  {
    color: #5CFDA5;
}