//main: style.less
.text-red {
    color: @main-color  !important;
}

.modal-content {
    background-color: @main-dark;
}

.infoModal {
    .close {
        color: @main-red;
        text-shadow: 0 1px 0 @main-dark+50;
        font-size: 2rem;
        cursor: pointer;
        &:focus {
            outline: -webkit-focus-ring-color auto 0;
            outline-color: inherit;
            outline-style: none;
            outline-width: 0;
        }
    }
    p {
        color: white;
    }
    @media (min-width:668) {
        min-width: 90vw !important;
    }
    @media (min-width: 992px) {
        min-width: 90vw !important;
    }
    @media (min-width: 1400px) {
        min-width: 80vw !important;
    }
}

.youtube {
    max-height: 55vh;
    @media (max-width: 576px) {
        min-height: inherit;
    }
    @media (min-width: 992px) {
        min-width: 90vw !important;
    }
    @media (min-width: 1400px) {
        min-width: 80vw !important;
    }
}

#infoModal {
    img {
        position: absolute;
        right: 0px;
        top: 0px;
    }
}

.checked {
    color: orange;
}

.review {
    p {
        font-size: 0.8em;
    }
    height:100%;
}