html {
  position: relative;
}
#auditorium-holder #auditorium {
  transform-origin: 0 0;
}
#auditorium-holder #auditorium svg {
  transform-origin: 0 0;
}
#auditorium-holder #auditorium svg g .seat {
  fill: #FCFBE3;
  cursor: pointer;
}
#auditorium-holder #auditorium svg g .screen {
  fill: white;
}
#auditorium-holder #auditorium svg g .booked {
  fill: #FB515C;
  pointer-events: none;
}
#auditorium-holder #auditorium svg g .selected {
  fill: #74d874;
}
#auditorium-holder #auditorium svg g .proposed {
  fill: #989ea4;
}
svg {
  transform-origin: 50% 50% 0px;
}
.red {
  fill: red;
}
