header nav {
  height: fit-content;
  background-color: #5CFDA5 !important;
}
header nav .nav-link {
  border-bottom: 1px solid transparent;
  width: fit-content;
}
header nav .nav-link.active {
  border-bottom: 1px solid black;
}
header nav .brand {
  width: 80px;
}
header #showLoginStatus {
  cursor: pointer;
}
.brand-modal {
  width: 80px;
}
#loginModal .modal-header,
#signupModal .modal-header {
  background-color: #5CFDA5 !important;
}
#loginModal .close,
#signupModal .close {
  cursor: pointer;
}
body {
  background-color: #0C1C1B;
}
body main {
  color: white;
  padding-bottom: 80px;
}
body main .pageTitle {
  border-bottom: 2px solid #5CFDA5;
  width: fit-content;
}
.text-red {
  color: #5CFDA5 !important;
}
.modal-content {
  background-color: #343A39;
}
.infoModal .close {
  color: #dc3545;
  text-shadow: 0 1px 0 #666c6b;
  font-size: 2rem;
  cursor: pointer;
}
.infoModal .close:focus {
  outline: -webkit-focus-ring-color auto 0;
  outline-color: inherit;
  outline-style: none;
  outline-width: 0;
}
.infoModal p {
  color: white;
}
#infoModal img {
  position: absolute;
  right: 0px;
  top: 0px;
}
.checked {
  color: orange;
}
.review {
  height: 100%;
}
.review p {
  font-size: 0.8em;
}
.orderModalStyle {
  color: #5CFDA5;
}
.modal-header {
  border-bottom-color: #5CFDA5;
}
.modal-footer {
  border-top-color: #5CFDA5;
}
.modalBokaColor {
  color: #5CFDA5 !important;
}
#adultTickets {
  font-size: 20px;
}
#childTickets {
  font-size: 20px;
}
#seniorTickets {
  font-size: 20px;
}
.fa-minus-circle:hover {
  color: #FB515C;
}
.fa-plus-circle:hover {
  color: #5CFDA5;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 
     or slightly more for more space before footer
  */
  margin-bottom: 120px;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  color: #FCFBE3;
  background-color: #343A39;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
}
footer a {
  color: #FCFBE3;
}
footer a:hover {
  color: #FCFBE3 !important;
  text-decoration: none;
}
footer .social-media {
  font-size: 2.5em;
  color: #5CFDA5;
}
html {
  position: relative;
}
#auditorium-holder #auditorium {
  transform-origin: 0 0;
}
#auditorium-holder #auditorium svg {
  transform-origin: 0 0;
}
#auditorium-holder #auditorium svg g .seat {
  fill: #FCFBE3;
  cursor: pointer;
}
#auditorium-holder #auditorium svg g .booked {
  fill: #dc3545;
  pointer-events: none;
}
#auditorium-holder #auditorium svg g .selected {
  fill: #5CFDA5;
}
#auditorium-holder #auditorium svg g .proposed {
  fill: #989ea4;
}
svg {
  transform-origin: 50% 50% 0px;
}
main {
  margin-top: 64px;
}
main .gallery {
  background-color: #343A39;
  width: 100%;
  height: 75vh;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  main .gallery {
    height: 50vh;
  }
}
main .gallery .gallery-content {
  height: inherit;
}
main .gallery .gallery-content .gallery-info {
  height: 100%;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  main .gallery .gallery-content .gallery-info {
    position: absolute;
    z-index: 5;
    top: 0;
  }
}
main .gallery .gallery-content .gallery-info .gallery-info-title .header-film {
  height: 100%;
  width: fit-content;
}
main .gallery .gallery-content .gallery-info .gallery-info-title .header-film .header-film-text {
  text-decoration: underline;
  text-decoration-color: #5CFDA5;
  overflow: hidden;
  color: #FCFBE3;
  font-size: 4.5rem;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  main .gallery .gallery-content .gallery-info .gallery-info-title .header-film .header-film-text {
    font-size: 3rem;
  }
}
main .gallery .gallery-content .gallery-info .gallery-info-title .gallery-buttons {
  position: absolute;
  bottom: 0;
  height: fit-content;
  width: fit-content;
}
@media screen and (min-width: 0) and (max-width: 767px) {
  main .gallery .gallery-content .gallery-info .gallery-info-title .gallery-buttons {
    bottom: 0%;
  }
}
main .gallery .gallery-content .gallery-info .gallery-info-title .gallery-buttons .gallery-previous,
main .gallery .gallery-content .gallery-info .gallery-info-title .gallery-buttons .gallery-next {
  background-color: transparent !important;
  color: #FCFBE3;
  border: none;
  cursor: pointer;
}
main .gallery .gallery-content .gallery-info .gallery-info-title .gallery-buttons .gallery-previous:hover,
main .gallery .gallery-content .gallery-info .gallery-info-title .gallery-buttons .gallery-next:hover {
  color: #5CFDA5;
}
main .gallery .gallery-content .gallery-image-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
main .gallery .gallery-content .gallery-image-container .gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}
main .gallery .gallery-content .gallery-image-container .slices {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
}
main .gallery .gallery-content .gallery-image-container .slices .slice1,
main .gallery .gallery-content .gallery-image-container .slices .slice2,
main .gallery .gallery-content .gallery-image-container .slices .slice3,
main .gallery .gallery-content .gallery-image-container .slices .slice4 {
  height: 0;
  background-color: #343A39;
}
main .gallery .gallery-content .gallery-info-container {
  height: 100%;
  left: 30%;
  z-index: 2;
  width: 300px;
  overflow-y: hidden;
  position: absolute;
}
main .gallery .gallery-content .gallery-info-container .gallery-info-text {
  position: absolute;
  top: 70%;
  background-color: #5CFDA5;
  height: 100%;
  width: 100%;
}
main .gallery .gallery-content .gallery-info-container .gallery-info-text h5 {
  color: #0C1C1B;
  text-decoration: underline;
}
main .gallery .gallery-content .gallery-info-container .gallery-info-text p {
  color: #0C1C1B;
  font-weight: 500;
}
main .gallery .gallery-content .gallery-info-container .gallery-info-text span {
  color: #343A39;
  font-weight: 300;
}
main .gallery .gallery-content .gallery-info-container .gallery-info-text .gallery-info-text-sub {
  opacity: 0;
  transition: opacity 400ms cubic-bezier(1, 0, 0, 1);
}
main .list-group {
  position: relative;
}
main .list-group-item {
  background-color: transparent;
  color: #FFF;
  transition: background-color 200ms cubic-bezier(1, 0, 0, 1);
  border-bottom: 1px solid #343A39;
}
main .list-group-item:hover {
  background-color: #343A39;
  color: #FFF;
  cursor: pointer;
  transition: background-color 400ms cubic-bezier(1, 0, 0, 1);
}
main .list-element {
  width: fit-content;
  height: fit-content;
}
main .card {
  background-color: transparent;
}
main .mainbanner {
  width: 100%;
}
.btn-base {
  border-radius: 0;
  border: 2px solid #5CFDA5;
  background-color: transparent;
  color: #FFF !important;
  text-decoration: none;
  transition: all 200ms cubic-bezier(1, 0, 0, 1);
}
.btn-base:hover {
  cursor: pointer;
  border: 2px solid transparent;
  background-color: #5CFDA5;
  color: #FFF !important;
  text-decoration: none;
  transition: all 400ms cubic-bezier(1, 0, 0, 1);
}
.card {
  overflow: hidden;
  width: 13em;
  border: none;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.card .card-img-top {
  height: 18em;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.card a:hover img,
.card a:focus img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  cursor: pointer;
}
.card .card-body {
  z-index: 2;
}
@media (min-width: 992px) {
  .card {
    width: 19em;
  }
  .card .card-img-top {
    height: 27em;
  }
}
@media (max-width: 576px) {
  .card {
    width: 10em;
  }
  .card .card-img-top {
    height: 14.5em;
  }
}
.regler .rulesbanner {
  width: 100%;
  height: 30%;
}
main .mypage-item {
  cursor: pointer;
}
main .mypage-item:hover {
  background-color: #343A39 !important;
  color: #FFF;
  transition: background-color 400ms cubic-bezier(1, 0, 0, 1);
}
main .table td,
main .table th {
  border-top: none;
}
main .avatar {
  width: 15%;
}
main .booking-state {
  border-top: 2px solid #5CFDA5 !important;
}
