.text-red {
  color: #FB515C !important;
}
.modal-lg p {
  color: white;
}
@media (min-width: 576px) {
  .modal-lg {
    max-width: 90vw !important;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 70vw !important;
  }
}
@media (min-width: 1400px) {
  .modal-lg {
    max-width: 60vw !important;
  }
}
.youtube {
  min-height: 40vh;
}
#infoModal img {
  position: absolute;
  right: 0px;
  top: 0px;
}
.checked {
  color: orange;
}
.review {
  height: 100%;
}
.review p {
  font-size: 0.8em;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height 
     or slightly more for more space before footer
  */
  margin-bottom: 120px;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  background-color: black;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
}
footer a {
  color: white;
}
footer a:hover {
  color: #FB515C !important;
}
footer .social-media {
  font-size: 2.5em;
  color: #FB515C;
}
@media screen and (min-width: 769px) and (max-width: 937px) {
  footer {
    height: 90px;
  }
}
@media screen and (min-width: 540px) and (max-width: 768px) {
  body {
    margin-bottom: 200px;
  }
  footer {
    height: 185px;
  }
}
@media screen and (max-width: 576px) {
  body {
    margin-bottom: 200px;
  }
  footer {
    height: 75px;
  }
}
html {
  position: relative;
}
#auditorium-holder #auditorium {
  transform-origin: 0 0;
}
#auditorium-holder #auditorium svg {
  transform-origin: 0 0;
}
#auditorium-holder #auditorium svg g image {
  pointer-events: none;
}
svg {
  transform-origin: 50% 50% 0px;
}
.red {
  fill: red;
}
main {
  margin-top: 64px;
}
main .list-element {
  width: fit-content;
  height: fit-content;
}
main .header-film {
  border: 3px solid #FFF !important;
  width: fit-content;
}
.mainbanner {
  width: 100%;
}
header nav {
  height: fit-content;
  background-color: #FB515C !important;
}
header nav .nav-link {
  border-bottom: 1px solid transparent;
  width: fit-content;
}
header nav .nav-link.active {
  border-bottom: 1px solid black;
}
header nav .brand {
  width: 80px;
}
.brand-modal {
  width: 80px;
}
#loginModal .modal-header,
#signupModal .modal-header {
  background-color: #FB515C !important;
}
#loginModal .close,
#signupModal .close {
  cursor: pointer;
}
header #showLoginStatus {
  cursor: pointer;
}
.btn-base {
  border: 2px solid black;
  background-color: white;
  border-radius: 0;
  color: black;
  text-decoration: none;
  transition: all 200ms cubic-bezier(1, 0, 0, 1);
}
.btn-base:hover {
  cursor: pointer;
  border: 2px solid #000;
  background-color: #FB515C;
  color: black;
  text-decoration: none;
  transition: all 400ms cubic-bezier(1, 0, 0, 1);
}
.card {
  overflow: hidden;
  width: 13em;
  border: none;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.card .card-img-top {
  height: 18em;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}
.card a:hover img,
.card a:focus img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
  cursor: pointer;
}
.card .card-body {
  z-index: 2;
}
@media (min-width: 992px) {
  .card {
    width: 19em;
  }
  .card .card-img-top {
    height: 27em;
  }
}
@media (max-width: 576px) {
  .card {
    width: 10em;
  }
  .card .card-img-top {
    height: 14.5em;
  }
}
.regler .rulesbanner {
  width: 100%;
  height: 30%;
}
main .mypage-item {
  cursor: pointer;
}
main .avatar {
  width: 15%;
}
